<div class="row admin-breadcrumbs">
    <ol class="breadcrumb">
        <li><a href="/index.html"><i class="glyphicon glyphicon-home"></i></a></li>
        <li><a href="/admin.html">Admin</a></li>
        <li class="Areas">Legacy</li>
    </ol>
</div>

<div class="row admin-content">

    <div class="col-sm-10 col-md-9">


        <h1 class="page-header">Legacy Integration</h1>

        <div class="row">

            <div class="col-sm-5 col-sm-offset-1">
                <h2>NM</h2>
                <p>
                    Notices to Mariners can be imported by from weekly xml files
                </p>
                <form name="import_form">

                    <div class="form-controls" ng-controller="LegacyCtrl">

                        <div class="form-group">
                            <msi-file-upload repo-folder="'/rest/import/legacy-nm-import/upload-weekly-xml'" drop-text="or drop .xml file here"
                                             file-types="'xml'" auto-upload="false" remove-after-upload="true"
                                             data="importData" success="xmlFileUploaded(result)">

                                <div class="form-group" style="margin: 10px;">
                                    <label for="year" class="col-sm-2 control-label">Year</label>
                                    <div class="col-sm-10">
                                        <input id="year" type="number" class="form-control input-sm" placeholder="Year" ng-model="importData.year">
                                    </div>
                                </div>
                                <div class="form-group" style="margin: 10px;">
                                    <label for="week" class="col-sm-2 control-label">Week</label>
                                    <div class="col-sm-10">
                                        <input id="week" type="number" class="form-control input-sm" placeholder="Week" ng-model="importData.week">
                                    </div>
                                </div>
                            </msi-file-upload>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="importResult">Result</label>
                            <textarea ng-model="importResult" id="importResult" class="form-control input-sm" style="font-size: 10px;" rows="6" readonly></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
