
<footer class="container-fluid footer navbar-inverse">
    <div class="row">
        <div class="col-sm-4 footer-left" style="padding-top: 15px;">
            <a href="#" translate>FOOTER_COPYRIGHT</a>
        </div>
        <div class="col-sm-4 footer-center">
            <a href="http://www.soefartsstyrelsen.dk/"><img src="img/logo.png" width="200" alt="Danish Maritime Authority"/></a>
        </div>
        <div ng-controller="FooterCtrl" class="col-sm-4 footer-right" style="padding-top: 15px;">
            <a href ng-click="disclaimerDlg();" translate>FOOTER_DISCLAIMER</a>
            &bull;
            <a href ng-click="cookiesDlg();" translate>FOOTER_COOKIES</a>
        </div>
    </div>
</footer>
