
<footer class="container-fluid footer navbar-inverse">
    <div class="row">
        <div class="col-sm-4 text-left" style="padding-top: 15px;">
            <a href="#">&copy; 2014 Danish Maritime Authority</a>
        </div>
        <div class="col-sm-4 text-center">
            <a href="http://www.soefartsstyrelsen.dk/"><img src="img/logo.png" width="200" alt="Danish Maritime Authority"/></a>
        </div>
        <div ng-controller="FooterCtrl" class="col-sm-4 text-right" style="padding-top: 15px;">
            <a href ng-click="disclaimerDlg();">Disclaimer</a>
            &bull;
            <a href ng-click="cookiesDlg();">Cookies</a>
        </div>
    </div>
</footer>
