
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="navbar-inverse" style="padding-left: 20px; padding-right: 20px;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">MSI-NM</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <li check-active="/"><a href="index.html" translate>MENU_HOME</a></li>

                <li check-active="/search/*"><a href="search.html" translate>MENU_SEARCH</a></li>

                <li check-active="/admin/*" ng-if="hasRole('admin')"><a href="admin.html" translate>MENU_ADMIN</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!currentUser"><a href ng-click="loginDlg()" translate>MENU_LOGIN</a></li>
                <li ng-if="!currentUser"><a href ng-controller="UserCtrl" ng-click="registerDlg()" translate>MENU_REGISTER</a></li>
                <li ng-if="currentUser"><a href >{{currentUser.name}}</a></li>
                <li ng-if="currentUser"><a href ng-click="logout()" translate>MENU_LOGOUT</a></li>

                <li class="dropdown" ng-if="siteLanguages.length > 1" ng-controller="LangCtrl">
                    <a href class="dropdown-toggle" data-toggle="dropdown"><flag country="language" style="opacity: 0.5"/></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="lang in siteLanguages">
                            <a href ng-click="changeLanguage(lang)"><flag country="lang"/> &nbsp; {{'LANG_' + lang | uppercase | translate}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
