
<div style="padding: 10px;">
    <table class='table table-condensed table-hover'>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Area</th>
        </tr>
        <tr ng-repeat="msi in msinmList">
            <td style="white-space:nowrap;">{{msi.issueDate | date : 'MM-dd HH:mm'}}</td>
            <td>{{msi.messageItems[0].keySubject}}</td>
            <td style="white-space:nowrap;">{{msi.generalArea + '-' + msi.locality}}</td>
        </tr>
    </table>
</div>
