<div>
    <div ng-repeat="param in data">

        <div class="row" style="padding-top: 5px;"
             ng-if="param.kind ==  'BASE' || param.kind == 'LIST'"
             ng-repeat="val in param.values  track by $index">
            <div class="col-sm-4 col-md-3 col-lg-3 template-param-data-name">
                {{param.name}} <span class="template-param-list-action" ng-if="param.list">#{{$index + 1}}</span>
                <span class="red" ng-if="param.mandatory">*</span>
            </div>
            <div class="col-sm-7 col-md-6 col-lg-5">
                <input type="text" class="form-control input-sm" ng-model="param.values[$index]"
                       ng-if="param.type == 'text'" ng-required="param.mandatory"/>
                <input type="number" class="form-control input-sm" ng-model="param.values[$index]"
                       ng-if="param.type == 'number'" ng-required="param.mandatory"/>
                <input type="checkbox" ng-model="param.values[$index]"
                       ng-if="param.type == 'boolean'" ng-required="param.mandatory"/>
                <select class="form-control input-sm"
                        ng-if="param.kind == 'LIST'"
                        ng-model="param.values[$index]" ng-options="val.descs[0].shortValue for val in parameterTypes[param.type].values" >
                </select>
            </div>
            <div class="col-lg-1 template-param-list-action" ng-if="param.list">
                <a href ng-click="addParameterBelow($index, param);"
                   title="Add Parameter Value Below"><i class="glyphicon glyphicon-plus"></i></a>
                <a href ng-click="deleteParameter($index, param);"
                   title="Remove Parameter Value"><i class="glyphicon glyphicon-minus"></i></a>
            </div>
        </div>

        <fieldset class="nested-template-param-data"
                  ng-if="param.kind == 'COMPOSITE'"
                  ng-repeat="val in param.values track by $index">
            <legend class="nested-template-param-data">
                {{param.name}}
                <span class="template-param-list-action" ng-if="param.list">
                    &nbsp; #{{$index + 1}} &nbsp;
                    <a href ng-click="addParameterBelow($index, param);"
                       title="Add Parameter Value Below"><i class="glyphicon glyphicon-plus"></i></a>
                    <a href ng-click="deleteParameter($index, param);"
                       title="Remove Parameter Value"><i class="glyphicon glyphicon-minus"></i></a>
                </span>
            </legend>
            <recursive>
                <msi-template-param-data-fields parameter-types="parameterTypes" parameters="parameterTypes[param.type].parameters" data="param.values[$index]"></msi-template-param-data-fields>
            </recursive>
        </fieldset>

    </div>
</div>
