
<div class="row admin-breadcrumbs">
    <ol class="breadcrumb">
        <li><a href="/index.html"><i class="glyphicon glyphicon-home"></i></a></li>
        <li><a href="/admin.html">Admin</a></li>
        <li class="Areas">Users</li>
    </ol>
</div>

<div class="row admin-content">

    <div class="col-sm-12 col-md-12">

        <h1 class="page-header">Areas</h1>


        <div ng-controller="AreaCtrl" ng-init="loadAreas()">

            <div class="row">
                <div class="col-md-6">
                    <button href class="btn btn-primary btn-sm" ng-click="loadAreas()">
                        <span class="glyphicon glyphicon-refresh"></span> Reload
                    </button>
                    <button href class="btn btn-primary btn-sm" ng-click="newArea()">
                        <span class="glyphicon glyphicon-plus"></span> Add Area
                    </button>
                    <button href class="btn btn-primary btn-sm" ng-click="deleteArea()" ng-disabled="area == undefined">
                        <span class="glyphicon glyphicon-trash"></span> Delete Area...
                    </button>
                </div>
            </div>

            <div class="row">

                <!-- Area tree -->
                <div class="col-md-5 panel panel-default area-panel">
                    <div class="form-group">
                        <input type="text" class="form-control input-sm" placeholder="Filter Areas" ng-model="areaFilter" />
                        <div msi-area-tree areas="areas" filter="areaFilter"
                             area-selected="selectArea(area)" area-moved="moveArea(area, parent)"
                             class="area-tree"></div>
                    </div>
                </div>

                <!-- Area editor -->
                <form name="areaForm" class="col-md-5 panel panel-default area-panel" role="form">
                    <fieldset  ng-disabled="editArea == undefined">
                        <div class="form-group" ng-if="action == 'add'">
                            <label class="control-label" for="parent">Parent Area</label>
                            <div class="input-group input-group-sm">
                                <input class="form-control" type="text" id="parent" ng-model="area.nameEnglish" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="nameEnglish">Name</label>
                            <input class="form-control input-sm" placeholder="English name" type="text" id="nameEnglish" ng-model="editArea.nameEnglish" required
                                   lang-flag="en" copy-from="nameLocal" copy-to="nameEnglish">
                            <div class="input-group input-group-sm">
                                <input class="form-control" placeholder="Danish name" type="text" id="nameLocal" ng-model="editArea.nameLocal">
                                <span class="input-group-addon"><flag country="'da'" copy-from="nameEnglish" copy-to="nameLocal"/></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <button href class="btn btn-primary btn-sm" ng-click="showLocations(true)">
                                <span class="glyphicon glyphicon-map-marker"></span> Edit locations...
                            </button>
                            <button href class="btn btn-primary btn-sm" ng-click="saveArea()" ng-disabled="areaForm.$pristine || areaForm.$invalid">
                                <span class="glyphicon glyphicon-floppy-disk"></span> Save
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="area-locations">
                <div msi-location-editor locations="editArea.locations" visible="locationsVisible" style="width:100%; height: 100%">
                    <div class="area-locations-panel">
                        <div style="text-align: center;">
                            <p>Edit locations for<br>
                            <strong>{{editArea.nameEnglish}}</strong></p>
                            <button href class="btn btn-primary btn-xs" ng-click="updateLocations(true)">Done</button>
                            <button href class="btn btn-primary btn-xs" ng-click="updateLocations(false)" ng-if="action == 'edit'">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
