
<div class="row admin-breadcrumbs">
    <ol class="breadcrumb">
        <li><a href="/index.html"><i class="glyphicon glyphicon-home"></i></a></li>
        <li><a href="/admin.html">Admin</a></li>
        <li class="Areas">Users</li>
    </ol>
</div>

<div class="row admin-content">

    <div class="col-sm-12 col-md-12">

        <h1 class="page-header">Areas</h1>


        <div ng-controller="AreaCtrl" ng-init="loadAreas()">

            <p>
                Add, modify and organize areas.
            </p>

            <div class="row">
                <div class="col-md-6">
                    <a href class="btn btn-primary btn-sm" ng-click="loadAreas()">Reload areas</a>
                    <a href class="btn btn-primary btn-sm" ng-click="saveChanges()" ng-disabled="!changes">Save changes</a>
                    <a href class="btn btn-primary btn-sm" ng-click="collapseAll()">Collapse all</a>
                    <a href class="btn btn-primary btn-sm" ng-click="expandAll()">Expand all</a>
                </div>
            </div>

            <div>
                <input type="text" ng-model="areaFilter" />
                <div id="tree" style="margin: 5px; border: 1px solid #ff0000;"></div>
            </div>


            <div>
                <h2>Location Editor</h2>
                <div msi-location-editor locations="locations" style="width:100%; height: 600px"></div>
            </div>
        </div>

    </div>
</div>
