
<div class="row admin-breadcrumbs">
    <ol class="breadcrumb">
        <li><a href="/index.html"><i class="glyphicon glyphicon-home"></i></a></li>
        <li><a href="/admin.html">Admin</a></li>
        <li class="Categories">Categories</li>
    </ol>
</div>

<div class="row admin-content">

    <div class="col-sm-12 col-md-12">

        <h1 class="page-header">Categories</h1>


        <div ng-controller="CategoryCtrl" ng-init="loadCategories()">

            <div class="row">
                <div class="col-md-6">
                    <button href class="btn btn-primary btn-sm" ng-click="loadCategories()">
                        <span class="glyphicon glyphicon-refresh"></span> Reload
                    </button>
                    <button href class="btn btn-primary btn-sm" ng-click="newCategory()">
                        <span class="glyphicon glyphicon-plus"></span> Add Category
                    </button>
                    <button href class="btn btn-primary btn-sm" ng-click="deleteCategory()" ng-disabled="category == undefined">
                        <span class="glyphicon glyphicon-trash"></span> Delete Category...
                    </button>
                </div>
            </div>

            <div class="row">

                <!-- Category tree -->
                <div class="col-md-5 panel panel-default area-panel">
                    <div class="form-group">
                        <input type="text" class="form-control input-sm" placeholder="Filter Categories" ng-model="categoryFilter" />
                        <div msi-entity-tree entities="categories" filter="categoryFilter"
                             entity-selected="selectCategory(entity)" entity-moved="moveCategory(entity, parent)"
                             class="area-tree"></div>
                    </div>
                </div>

                <!-- Category editor -->
                <form name="categoryForm" class="col-md-5 panel panel-default category-panel" role="form">
                    <fieldset  ng-disabled="editCategory == undefined">
                        <div class="form-group" ng-if="action == 'add'">
                            <label class="control-label" for="parent">Parent Category</label>
                            <div class="input-group input-group-sm">
                                <input class="form-control" type="text" id="parent" ng-model="category.descs[0].name" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <div class="row">
                                <div class="col-sm-6" ng-repeat="desc in editCategory.descs">
                                    <input class="form-control input-sm" placeholder="Name" type="text" ng-model="desc.name" ng-required="$first"
                                           lang-flag="desc.lang">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button href class="btn btn-primary btn-sm" ng-click="saveCategory()" ng-disabled="categoryForm.$pristine || categoryForm.$invalid">
                                <span class="glyphicon glyphicon-floppy-disk"></span> Save
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>
</div>

