<div class="row admin-breadcrumbs">
    <ol class="breadcrumb">
        <li><a href="/index.html"><i class="glyphicon glyphicon-home"></i></a></li>
        <li><a href="/admin.html">Admin</a></li>
        <li class="Areas">Charts</li>
    </ol>
</div>

<div class="row admin-content">

    <div class="col-sm-10 col-md-9">

        <h1 class="page-header">Charts</h1>

        <div ng-controller="ChartCtrl" ng-init="loadCharts()">

            <p>
                Add, modify and manage charts.
            </p>

            <div class="row">
                <div class="col-xs-8 col-sm-6 col-md-4">
                    <input class="form-control input-sm col-sm-2" ng-model="search" type="text" placeholder="Filter">
                </div>
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-primary btn-sm" ng-click="addChart()">
                        <span class="glyphicon glyphicon-plus"></span> Add Chart
                    </button>
                </div>
            </div>

            <div class="row" style="padding-top: 20px;">
                <div class="col-sm-12 col-md-10">
                    <table class='table table-condensed table-hover'>
                        <tr>
                            <th>Chart Number</th>
                            <th>Int. Number</th>
                            <th>Horiz. Datum</th>
                            <th>Name</th>
                            <th>Scale</th>
                            <th>Name</th>
                        </tr>
                        <tr ng-repeat="chart in charts">
                            <td>{{chart.chartNumber}}</td>
                            <td>{{chart.internationalNumber}}</td>
                            <td>{{chart.horizontalDatum}}</td>
                            <td>{{chart.name}}</td>
                            <td><span ng-if="chart.scale">1:{{chart.scale | number}}</span></td>
                            <td nowrap>
                                <a href ng-click="editChart(chart);" title="Edit Chart"><i class="glyphicon glyphicon-pencil"></i></a>
                                &nbsp;
                                <a href ng-click="deleteChart(chart);" title="Delete Chart"><i class="glyphicon glyphicon-trash"></i></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- Pagination -->
            <div class="row">
                <div class="col-sm-10">
                    <pagination total-items="chartNo" items-per-page="pageSize" max-size="10"
                                ng-model="currentPage" ng-change="pageChanged()"
                                class="pagination pagination-sm" previous-text="&lsaquo;"  next-text="&rsaquo;"
                                boundary-links="true" first-text="&laquo;" last-text="&raquo;">
                    </pagination>
                </div>
            </div>

        </div>

    </div>

    <div class="col-sm-2 col-md-3 admin-teaser-image text-right">
        <img src="/img/admin/charts.jpg"/>
    </div>

</div>


<!-- Add/Edit dialog -->
<script type="text/ng-template" id="addEditChart.html">

    <form name="edit_form">

        <div class="form-controls">
            <div class="form-group">
                <label for="chartNumber">Chart Number</label>
                <input type="text" id="chartNumber" name="chartNumber" class="form-control input-sm"
                       focus="focusMe" ng-model="modalOptions.chart.chartNumber" ng-disabled="modalOptions.action == 'edit'"
                       autocapitalize="off" autocorrect="off" autocomplete="off" required />
            </div>

            <div class="form-group">
                <label for="chartNumber">International Chart Number</label>
                <input type="number" id="internationalNumber" name="internationalNumber" class="form-control input-sm"
                       ng-model="modalOptions.chart.internationalNumber"
                       autocapitalize="off" autocorrect="off" autocomplete="off"/>
            </div>

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="form-control input-sm"
                       ng-model="modalOptions.chart.name"
                       autocapitalize="off" autocorrect="off" autocomplete="off"/>
            </div>

            <div class="form-group">
                <label for="scale">Scale</label>
                <div class="inline">
                    1&nbsp;:&nbsp;<input type="number" id="scale" name="scale" class="form-control input-sm"
                             ng-model="modalOptions.chart.scale"
                             autocapitalize="off" autocorrect="off" autocomplete="off"/>
                </div>
            </div>

            <div class="form-group">
                <label for="lowerLeftLatitude">Extent</label>
                <div class="inline">
                    <input latitude type="text" class="form-control input-sm" ng-model="modalOptions.chart.lowerLeftLatitude"  placeholder="Lower-left Lat.">
                    -
                    <input longitude type="text" class="form-control input-sm" ng-model="modalOptions.chart.lowerLeftLongitude"  placeholder="Lower-left Lon.">
                    (lower-left)
                </div>
                <div class="inline" style="margin-top: 10px;">
                    <input latitude type="text" class="form-control input-sm" ng-model="modalOptions.chart.upperRightLatitude"  placeholder="upper-right lat.">
                    -
                    <input longitude type="text" class="form-control input-sm" ng-model="modalOptions.chart.upperRightLongitude"  placeholder="upper-right lon.">
                    (upper-right)
                </div>
           </div>

            <div class="form-group">
                <label for="horizontalDatum">Horizontal Datum</label>
                <input type="text" id="horizontalDatum" name="horizontalDatum" class="form-control input-sm"
                       ng-model="modalOptions.chart.horizontalDatum"
                       autocapitalize="off" autocorrect="off" autocomplete="off"/>
            </div>
        </div>
    </form>

</script>
