

<div class="row admin-breadcrumbs">
    <ol class="breadcrumb">
        <li><a href="/index.html"><i class="glyphicon glyphicon-home"></i></a></li>
        <li><a href="/admin.html">Admin</a></li>
        <li class="active">Overview</li>
    </ol>
</div>

<div class="row admin-content">

    <div class="col-sm-10 col-md-9">

        <h1 class="page-header">Overview</h1>

        <p>The Admin pages are used to administer users, groups and base data for the MSI-NM application. It has been divided into the following sections:</p>

        <dl class="dl-horizontal">
            <dt><a href ng-click="go('/admin/users');">Users</a></dt>
            <dd>Create, update and manage users registered for the MSI-NM website.</dd>

            <dt><a href ng-click="go('/admin/charts');">Charts</a></dt>
            <dd>Configure the OpenLayers charts used for the MSI-NM website.</dd>

            <dt><a href ng-click="go('/admin/areas');">Areas</a></dt>
            <dd>Manage the list of areas used for grouping MSI and NM messages.</dd>

            <dt><a href ng-click="go('/admin/categories');">Categories</a></dt>
            <dd>Manage the list of categories used for grouping MSI and NM messages.</dd>

            <dt ng-if="hasRole('admin')"><a href ng-click="go('/admin/publish');">Publishers</a></dt>
            <dd ng-if="hasRole('admin')">Manage the list of MSI and NM publishers.</dd>

            <dt ng-if="LEGACY_ADMIN_PAGE && hasRole('sysadmin')"><a href ng-click="go('/admin/legacy');">Legacy Integration</a></dt>
            <dd ng-if="LEGACY_ADMIN_PAGE && hasRole('sysadmin')">Handle integration with the legacy MSI system and import historical NM PDF's.</dd>

            <dt ng-if="hasRole('sysadmin')"><a href ng-click="go('/admin/operations');">Operations</a></dt>
            <dd ng-if="hasRole('sysadmin')">Various operations pertaining to the running system.</dd>

            <dt ng-if="hasRole('sysadmin')"><a href ng-click="go('/admin/settings');">Settings</a></dt>
            <dd ng-if="hasRole('sysadmin')">Manage the system settings.</dd>
        </dl>
    </div>

    <div class="col-sm-2 col-md-3 admin-teaser-image text-right">
        <img src="/img/admin/overview.jpg"/>
    </div>

</div>


