


<div class="row">

    <div class="col-sm-10 col-md-9">

        <h1 class="page-header">Overview</h1>

        <p>The Admin pages are used to administer users, groups and base data for the MSI-NM application. It has been divided into the following sections:</p>

        <dl class="dl-horizontal">
            <dt><a href ng-click="go('/admin/operations');">Operations</a></dt>
            <dd>Various operations pertaining to the running system.</dd>

            <dt><a href ng-click="go('/admin/users');">Users</a></dt>
            <dd>Create, update and manage users registered for the MSI-NM website.</dd>

            <dt><a href ng-click="go('/admin/legacy');">Legacy Integration</a></dt>
            <dd>Handle integration with the legacy MSI system and import historical NM PDF's.</dd>

            <dt><a href ng-click="go('/admin/charts');">Charts</a></dt>
            <dd>Configure the OpenLayers charts used for the MSI-NM website.</dd>

            <dt><a href ng-click="go('/admin/areas');">Areas</a></dt>
            <dd>Manage the list of areas used for grouping MSI and NM messages.</dd>

            <dt><a href ng-click="go('/admin/categories');">Categories</a></dt>
            <dd>Manage the list of categories used for grouping MSI and NM messages.</dd>
        </dl>
    </div>

    <div class="col-sm-2 col-md-3 admin-teaser-image text-right">
        <img src="img/admin.jpg"/>
    </div>

</div>


