
<div class="row admin-breadcrumbs">
    <ol class="breadcrumb">
        <li><a href="/index.html"><i class="glyphicon glyphicon-home"></i></a></li>
        <li><a href="/admin.html">Admin</a></li>
        <li class="active">Settings</li>
    </ol>
</div>

<div class="row admin-content">

    <div class="col-sm-10 col-md-9">

        <h1 class="page-header">Settings</h1>

        <div ng-controller="SettingsCtrl" ng-init="loadSettings()">

            <p>
                Update system settings.
            </p>

            <div class="row" style="padding-top: 20px;">
                <div class="col-sm-12 col-md-10">
                    <table class='table table-condensed table-hover'>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                            <th>Edit</th>
                        </tr>
                        <tr ng-repeat="setting in settings">
                            <td>{{setting.key}}</td>
                            <td>{{setting.value | truncate: 80}}</td>
                            <td><a href ng-click="editSetting(setting);" title="Edit Setting"><i class="glyphicon glyphicon-pencil"></i></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="col-sm-2 col-md-3 admin-teaser-image text-right">
        <img src="/img/admin/settings.jpg"/>
    </div>

</div>

<!-- Edit dialog -->
<script type="text/ng-template" id="editSetting.html">

    <form name="edit_form">

        <div class="form-controls">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="form-control input-sm"
                       ng-model="modalOptions.setting.key" disabled />
            </div>

            <div class="form-group">
                <label for="value">Value</label>
                <textarea id="value" name="value" class="form-control input-sm"
                          style="font-size: 11px; width: 100%"
                       ng-model="modalOptions.setting.value" focus="focusMe"
                       autocapitalize="off" autocorrect="off" autocomplete="off"></textarea>
            </div>
        </div>
    </form>

</script>
