
<div class="row admin-breadcrumbs">
    <ol class="breadcrumb">
        <li><a href="/index.html"><i class="glyphicon glyphicon-home"></i></a></li>
        <li><a href="/admin.html">Admin</a></li>
        <li class="active">Templates</li>
    </ol>
</div>

<div class="row admin-content">

    <div class="col-sm-10 col-md-9">

        <h1 class="page-header">Templates</h1>

        <div ng-controller="TemplatesCtrl" ng-init="loadAll()">

            <p>
                Manage message templates and template parameter types.
            </p>

            <tabset class="template-tabs">


                <!-- Templates tab -->
                <tab heading="Templates">
                    <div class="template-tab">

                        <div class="row">
                            <div class="col-xs-8 col-sm-6 col-md-4">
                                <input class="form-control input-sm col-sm-2" ng-model="search" type="text" placeholder="Filter">
                            </div>
                            <div class="col-sm-1">
                                <button type="submit" class="btn btn-primary btn-sm" ng-click="addTemplate()">
                                    <span class="glyphicon glyphicon-plus"></span> Add Template
                                </button>
                            </div>
                        </div>

                        <div class="row" style="padding-top: 20px;">
                            <div class="col-sm-12 col-md-10">
                                <table class='table table-condensed table-hover'>
                                    <tr>
                                        <th>Template</th>
                                        <th>Categories</th>
                                        <th>Parameters</th>
                                        <th>Actions</th>
                                    </tr>
                                    <tr ng-repeat="template in templates | filter:search">
                                        <td>{{template.name}}</td>
                                        <td>
                                            <div ng-repeat="cat in template.categories">{{cat.descs[0].name}}</div>
                                        </td>
                                        <td>
                                            <div ng-repeat="param in template.parameters">{{param.name}}</div>
                                        </td>
                                        <td align="center">
                                            <a href ng-click="editTemplate(template)" title="Edit Template"><i class="glyphicon glyphicon-pencil"></i></a>
                                            &nbsp;
                                            <a href ng-click="copyTemplate(template)" title="Copy Template"><i class="fa fa-copy"></i></a>
                                            &nbsp;
                                            <a href ng-click="deleteTemplate(template)" title="Delete Template"><i class="glyphicon glyphicon-trash"></i></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </tab>


                <!-- List Parameter Types tab -->
                <tab heading="List Parameter Types">
                    <div class="template-tab">

                        <div class="row">
                            <div class="col-sm-1">
                                <button type="submit" class="btn btn-primary btn-sm" ng-click="addListParamType()">
                                    <span class="glyphicon glyphicon-plus"></span> Add List Parameter Type
                                </button>
                            </div>
                        </div>

                        <div class="row" style="padding-top: 20px;">
                            <div class="col-sm-12 col-md-10">
                                <table class='table table-condensed table-hover'>
                                    <tr>
                                        <th>Parameter Type</th>
                                        <th>Values</th>
                                        <th>Action</th>
                                    </tr>
                                    <tr ng-repeat="paramType in listParamTypes">
                                        <td>{{paramType.name}}</td>
                                        <td>
                                            <div ng-repeat="val in paramType.values">{{val.descs[0].shortValue ? val.descs[0].shortValue : val.descs[0].longValue}}</div>
                                        </td>
                                        <td align="center">
                                            <a href ng-click="editListParamType(paramType)" title="Edit Parameter Type"><i class="glyphicon glyphicon-pencil"></i></a>
                                            &nbsp;
                                            <a href ng-click="deleteListParamType(paramType)" title="Delete Parameter Type"><i class="glyphicon glyphicon-trash"></i></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </tab>


                <!-- Composite Parameter Types tab -->
                <tab heading="Composite Parameter Types">
                    <div class="template-tab">

                        <div class="row">
                            <div class="col-sm-1">
                                <button type="submit" class="btn btn-primary btn-sm" ng-click="addCompositeParamType()">
                                    <span class="glyphicon glyphicon-plus"></span> Add Composite Parameter Type
                                </button>
                            </div>
                        </div>

                        <div class="row" style="padding-top: 20px;">
                            <div class="col-sm-12 col-md-10">
                                <table class='table table-condensed table-hover'>
                                    <tr>
                                        <th>Parameter Type</th>
                                        <th>Parameters</th>
                                        <th>Action</th>
                                    </tr>
                                    <tr ng-repeat="paramType in compositeParamTypes">
                                        <td>{{paramType.name}}</td>
                                        <td>
                                            <div ng-repeat="param in paramType.parameters">{{param.name}}</div>
                                        </td>
                                        <td align="center">
                                            <a href ng-click="editCompositeParamType(paramType)" title="Edit Parameter Type"><i class="glyphicon glyphicon-pencil"></i></a>
                                            &nbsp;
                                            <a href ng-click="deleteCompositeParamType(paramType)" title="Delete Parameter Type"><i class="glyphicon glyphicon-trash"></i></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </tab>

            </tabset>

        </div>

    </div>


    <div class="col-sm-2 col-md-3 admin-teaser-image text-right">
        <img src="/img/admin/templates.png"/>
    </div>

</div>
