
<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss('closed')">x</button>
        <h2>Set New Password</h2>
    </div>

    <div class="modal-body e-small-font">
        <div class="alert alert-danger" ng-show="error">{{error}}</div>


        <!-- New password -->
        <form name="new_pwd_form">
            <div class="form-controls">

                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="emailfield" class="form-control input-sm"
                           ng-model="user.email" disabled="disabled" autocapitalize="off" autocorrect="off" autocomplete="off" required />
                </div>

                <div class="form-group">
                    <label for="passwordfield">Password</label>
                    <input type="password" id="passwordfield" name="passwordfield" class="form-control input-sm"
                           ng-model="user.password" focus="focusMe" required />
                </div>

                <div class="form-group">
                    <label for="passwordfield2">Repeat password</label>
                    <input type="password" id="passwordfield2" name="passwordfield2" class="form-control input-sm"
                           pw-check="passwordfield" ng-model="user.password2" required />
                </div>

                <div style="margin-top: 24px">
                    <button type="submit"
                            class="btn btn-sm btn-primary"
                            ng-disabled="!(new_pwd_form.emailfield.$valid && new_pwd_form.passwordfield.$valid && new_pwd_form.passwordfield2.$valid)"
                            ng-click="updatePassword()">Set Password</button>
                    <button class="btn btn-sm"
                            ng-click="$dismiss('closed')">Cancel</button>
                </div>
            </div>
        </form>
    </div>

</div>
