
<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss('aborted')">x</button>
        <h2>Register User</h2>
    </div>

    <div class="modal-body">
        <div class="alert alert-danger" ng-show="error">{{error}}</div>

        <form name="registration_form" ng-show="viewMode != 'info'">
            <p>
                Please fill out the form below, and click Register.
            </p>

            <div class="form-controls">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="emailfield" class="form-control input-sm"
                           focus="focusMe" ng-model="newUser.email" autocapitalize="off" autocorrect="off" autocomplete="off" required />
                </div>

                <div class="form-group">
                    <label for="firstName">Name</label>
                    <div class="row">
                        <div class="col-sm-4">
                            <input type="text" id="firstName" name="firstName" class="form-control input-sm"
                                   ng-model="newUser.firstName" placeholder="First Name" required />
                        </div>
                        <div class="col-sm-8">
                            <input type="text" id="lastName" name="lastName" class="form-control input-sm"
                                   ng-model="newUser.lastName" placeholder="Last Name" required />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="passwordfield">Password <small style="font-weight: lighter; color: gray;">- at least 6 mixed characters and numbers</small></label>
                    <input type="password" id="passwordfield" name="passwordfield" class="form-control input-sm"
                           pw-check="newUser.password" ng-model="newUser.password" required
                           ng-class="{'ng-invalid':registration_form.passwordfield.$error.pwmatch}" />
                </div>

                <div class="form-group">
                    <label for="passwordfield2">Repeat password</label>
                    <input type="password" id="passwordfield2" name="passwordfield2" class="form-control input-sm"
                           pw-check="newUser.password" ng-model="newUser.password2" required
                           ng-class="{'ng-invalid':registration_form.passwordfield2.$error.pwmatch}"/>
                </div>

                <div style="margin-top: 24px">
                    <button type="submit" class="btn btn-sm btn-primary"
                            ng-disabled="!(registration_form.emailfield.$valid && registration_form.passwordfield.$valid && registration_form.passwordfield2.$valid)"
                            ng-click="register()">Register</button>
                    <button class="btn btn-sm" ng-click="$dismiss('aborted')">Cancel</button>
                </div>
            </div>
        </form>

        <!-- Information -->
        <form name="info_form" ng-show="viewMode == 'info'">
            <div class="form-controls">

                <div class="alert alert-success">{{message}}</div>

                <div style="margin-top: 24px">
                    <button class="btn btn-sm" ng-click="$dismiss('closed')">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

