
<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss('closed')">x</button>
    <h1>Content Disclaimer</h1>
</div>

<div class="modal-body">
        <p>This disclaimer applies to all information on MSI-NM. By accessing MSI-NM and its sub-sites, you accept
            the disclaimer.</p>
        <p>The content on MSI-NM is provided for information purposes in order to enhance public access to details that
            may support safe navigation in the Danish maritime area. Every reasonable effort is made to present current and accurate
            information on MSI-NM. Any errors will be regularly addressed. Information on MSI-NM is subject to change
            without prior notice.</p>
        <p>MSI-NM contain information that is created, compiled and maintained by a variety of sources both internal
            and external to the DMA. The DMA does not control, monitor or guarantee the information stemming from external
            sources.</p>
        <p>The information provided on MSI-NM does not constitute a legal contract between the DMA and any person or
            entity.</p>
        <p>The DMA disclaims any liability for damages directly or indirectly related to the information provided on
            MSI-NM, and stresses that the information provided does not in any way substitute safe and well-planned navigation
            by ships in the Danish maritime area or alleviate the crew from its obligations in accordance with relevant rules, regulations and
            guidelines.</p>
</div>

<div class="modal-body text-center">
    <button class="btn btn-primary" ng-click="$dismiss('closed')">Close</button>
</div>

