
<div>
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss('aborted')">x</button>
        <h2>Import KML</h2>
    </div>

    <div class="modal-body">

        <form name="import_form">

            <div class="form-controls">

                <div class="form-group">
                    <msi-file-upload repo-folder="'/rest/location/upload-kml'" drop-text="or drop .kml or .kmz file here"
                                     file-types="'kml,kmz'" auto-upload="true" remove-after-upload="true"
                                     success="kmzFileUploaded(result)"></msi-file-upload>
                </div>

                <div class="form-group">
                    <label for="kml">Paste KML</label>
                    <textarea id="kml" name="kml" class="form-control input-sm"
                           rows="10" style="font-family: 'courier new'; font-size: 10px; font-weight: bold;"
                           focus="focusMe" ng-model="kml" required ></textarea>
                </div>

                <div style="margin-top: 24px">
                    <button type="submit" class="btn btn-sm btn-primary"
                            ng-disabled="!(edit_form.kml.$valid)" ng-click="$close(kml)">Import</button>
                    <button class="btn btn-sm" ng-click="$dismiss('aborted')">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
