html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #5A5A5A;
    background-color: #012c43;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    font-size: 12px;
}


h1 {
    font-size: 24px;
    text-align: center;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

/* set a max-width for horizontal fluid layout */
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    overflow: hidden;
    padding: 0;
    background-color: white;
}

.navbar {
    height: 50px;
    padding-right: 20px;
    margin-bottom: 0;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, .2);
}

.footer {
    padding: 10px 20px 10px 20px;
}

.footer-left {
    text-align: center;
}
.footer-center {
    text-align: center;
}
.footer-right {
    text-align: center;
}
@media (min-width: 800px) {
    .footer-left {
        text-align: left;
    }
    .footer-right {
        text-align: right;
    }
}


input.ng-invalid.ng-dirty {
    border:1px solid #f00;
}

input.ng-invalid-pwvalid {
    color: red;
}
input.ng-invalid-pwmatch {
    border-color: red;
}

/**
 * Location editor styles
 */

.location-editor-map {
    width: 100%;
    height: 100%;
    position: relative;
}

.location-editor-component {
    z-index: 1000;
    position: absolute;
    font-size: 10px;
    background-color: rgba(255,255,255,0.3);
    width: 220px;
    right: 0;
}

.location-editor-component a {
    font-size: 10px;
}

.location-editor-buttons {
    z-index: 1001;
    top: 0;
    height: 30px;
    padding: 5px;
    text-align: center;
}

.location-editor-locations {
    top: 30px;
    bottom: 20px;
    overflow-y: scroll;
    opacity:0.8;
}

.location-editor-location {
    border-radius:5px;
    margin: 4px;
    padding: 4px;
    background-color: #aaaaaa;
}

.location-editor-location input {
    height: 16px;
    width: 70px;
    text-align: right;
}

.location-editor-location textarea {
    width: 100%;
    resize: vertical;
}

.location-editor-position {
    bottom: 0;
    padding: 2px;
    height: 20px;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
}
