html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #5A5A5A;
    background-color: #012c43;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    font-size: 12px;
}


h1 {
    font-size: 24px;
    text-align: center;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

.mouse-off {
    pointer-events: none;
}

.mouse-on {
    pointer-events: auto;
}

@media print {
    .no-print { visibility:hidden; }
    .print { visibility:visible;  }
}

div.growl-notifications {
    position: fixed;
    top: 70px;
    right: 20px;
    z-index: 2000;
    width: 200px;
}

/** Disable modal dialog animation **/

.modal.fade {
    opacity: 1;
}
.modal.fade .modal-dialog, .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}


.white, .white a {
    color: #fff;
}

.green, .green a {
    color: rgb(65, 150, 65);
}

.red, .red a {
    color: rgb(193, 46, 42);
}

.blue, .blue a {
    color: rgb(42, 100, 150);
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

/* set a max-width for horizontal fluid layout */
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    overflow: hidden;
    padding: 0;
    background-color: white;
}

.navbar {
    height: 50px;
    padding-right: 20px;
    margin-bottom: 0;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, .2);
}

.inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.inline .input-group > .form-control {
    width: 100%;
}

.progress {
    height: 8px;
    margin-bottom: 2px;
}

.footer {
    padding: 10px 20px 10px 20px;
}

.footer-left {
    text-align: center;
}
.footer-center {
    text-align: center;
}
.footer-right {
    text-align: center;
}
@media (min-width: 800px) {
    .footer-left {
        text-align: left;
    }
    .footer-right {
        text-align: right;
    }
}


input.ng-invalid.ng-dirty {
    border:1px solid #f00;
}

input.ng-invalid-pwvalid {
    color: red;
}
input.ng-invalid-pwmatch {
    border-color: red;
}

input.ng-invalid-messageId {
    border-color: red;
}

.localized:disabled {
    background-color: #eeeeee!important;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

.nv-file-over {
    border: dotted 3px red;
}

.file-upload-drop-zone {
    border: dotted 2px lightgray;
}

.file-upload-file-over {
    border: dotted 2px red;
}

.file-upload-table {
    table-layout: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
}

.file-upload-table td {
    height: 16px;
    font-size: 10px;
    padding: 2px;
    overflow: hidden;
    border-bottom: 1px solid rgb(221, 221, 221);
}


input[readonly] {
    background-color: white !important;
    cursor: text !important;
}


/**
 * Message details styles
 */

.message-details-map {
    width: 100%;
    height: 200px;
    border: 1px solid lightgray;
    margin-bottom: 20px;
}

@media (min-width: 800px) {
    .message-details-map {
        height: 300px;
    }
}

.message-details-close-btn {
    float: right;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 2000;
}

.message-details-action a {
    font-size: 10px;
}

/**
 * Location editor styles
 */

.location-editor {
    width: 100%;
    height: 400px;
    border: 1px solid lightgray;
    margin-bottom: 20px;
}

@media (min-width: 800px) {
    .location-editor {
        height: 500px;
    }
}

.location-editor-panel {
    background-color: rgba(255,255,255,0.6);
    border-radius:5px;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, .1);
    padding: 10px;
    margin: 20px 10px 10px 10px;
}

.location-editor-map {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #b5d0d0;
}

.location-editor-body {
    z-index: 1000;
    position: absolute;
}

.location-editor-component {
    z-index: 1000;
    position: absolute;
    font-size: 10px;
    background-color: rgba(255,255,255,0.3);
    width: 220px;
    right: 0;
}

.location-editor-component a {
    font-size: 10px;
}

.location-editor-buttons {
    z-index: 1001;
    top: 0;
    height: 30px;
    padding: 5px;
}

.location-editor-locations {
    top: 30px;
    bottom: 20px;
    overflow-y: scroll;
    opacity:0.8;
}

.location-editor-location {
    border-radius:5px;
    margin: 4px;
    padding: 4px;
    background-color: #aaaaaa;
}

.location-editor-location input {
    height: 16px;
    width: 70px;
    text-align: right;
}

.location-editor-location textarea {
    width: 100%;
    resize: vertical;
}

.location-editor-position {
    bottom: 0;
    padding: 2px;
    height: 20px;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
}

/**
 * Layerswitcher styles
 */

.layer-switcher {
    display: none;
}

.layer-switcher label {
    font-size: 10px;
    font-weight: normal;
    margin-bottom: 3px;
    margin-left: 2px;
}

.layer-switcher .baseLbl, .layer-switcher .dataLbl {
    display: none;
}

@media (min-width: 800px) {
    .layer-switcher {
        display: block;
        position: absolute;
        bottom: 20px;
        left: 20px;
        background-color: rgba(255,255,255,0.4);
        font-size: 11px;
        padding: 10px;
        border-radius:5px;
    }
}

/**
 * Attachments
 */

.attachment {
    text-align: center;
    position: relative;
}

.attachment-image {
    display: inline-block;
    vertical-align: middle;
}

.attachment-image img {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.attachment-label {
    white-space: nowrap;
    overflow: hidden;
    font-size: 10px;
}

.attachment-list {
    display: inline-block;
    margin: 4px;
    vertical-align: top;
}

.attachment-delete-btn {
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
}

.size-32 {
    width: 32px;
    height: 32px;
    line-height: 32px;
}

.size-64 {
    width: 64px;
    height: 64px;
    line-height: 64px;
}

.size-128 {
    width: 128px;
    height: 128px;
    line-height: 128px;
}

/**
 * Mailing list styles
 */

.mailing-list-field {
    margin-bottom: 20px;
}

/**
 * Template parameter data
 */

.template-param-data-name {
    text-align: right;
    vertical-align: middle;
    padding-right: 10px;
}

fieldset.nested-template-param-data {
    border: 1px solid #dddddd;
    padding: 0 10px 10px 10px;
    margin: 0;
}

legend.nested-template-param-data {
    font-size: 11px;
    font-weight: normal;
    text-align: left;
    width:auto;
    padding:0 10px;
    border-bottom:none;
    margin-bottom: 0;
}
