<div class="row admin-breadcrumbs">
    <ol class="breadcrumb">
        <li><a href="/index.html"><i class="glyphicon glyphicon-home"></i></a></li>
        <li><a href="/admin.html">Admin</a></li>
        <li class="Areas">Legacy</li>
    </ol>
</div>

<div class="row admin-content">

    <div class="col-sm-10 col-md-9">


        <h1 class="page-header">Legacy Integration</h1>

        <div class="row">

            <div class="col-sm-5 col-sm-offset-1">
                <h2>NM</h2>
                <p>
                    Notices to Mariners can be imported by from weekly xml files
                </p>
                <button type="button" class="btn btn-sm btn-default">
                    Import Legacy NM...
                </button>
            </div>
        </div>

    </div>
</div>
