
<json-data json="pub.data" data="jsonData">
    <dl class="dl-horizontal" style="padding-top: 10px; margin-bottom: 0">

        <dt>Broadcast</dt>
        <dd>
            <span ng-if="jsonData.broadcast == 'GENERAL'">General </span>
            <span ng-if="jsonData.broadcast == 'SELECTIVE'">Selective to {{jsonData.areas}}</span>
            <span ng-if="jsonData.broadcast == 'DEDICATED'">Dedicated to {{jsonData.mmsi}}</span>
        </dd>

        <dt>Priority</dt>
        <dd>{{jsonData.priority}}</dd>

        <dt>Navdat Message</dt>
        <dd>
            <textarea style="width: 100%; height: 120px; border: 1px solid lightgray;" disabled>{{jsonData.message}}</textarea>
        </dd>

        <dt>Attachments</dt>
        <dd>{{jsonData.includeAttachments}}</dd>

        <dt>Encrypted</dt>
        <dd>
            {{jsonData.encrypted}}
            <span ng-if="jsonData.encrypted">({{jsonData.encryption}})</span>
        </dd>

    </dl>
</json-data>
