
<div class="container-fluid" ng-controller="HomeCtrl" ng-init="init();">


    <div class="front-page-image">
        <img src="img/frontpage.jpg" width="100%" />

        <div class="front-page-teaser" translate>FRONT_PAGE_TEASER</div>
    </div>


    <div class="row">

        <div class="front-page-article col-sm-4">
            <div translate>FRONT_PAGE_ACTIVE_WARNINGS</div>
            <div class="front-page-msi">
                <div ng-repeat="msg in searchResult.messages" class="front-page-msi-item">
                    <div><strong msi-message-area="msg"/><strong> - {{msg.descs[0].title}}</strong></div>
                    <div><small>{{msg.validFrom | date : 'dd/MM/yy HH:mm'}}</small></div>
                    <div ng-bind-html="msg.descs[0].description"></div>
                </div>
            </div>
        </div>

        <div class="front-page-article col-sm-4">
            <div translate>FRONT_PAGE_INTEGRATION_1</div>
<pre style="font-size: 10px;">
$.getJSON(
  'http://theserver/rest/message/search?status=PUBLISHED',
  function(data) {
    $('#msiList').html(
       '&lt;h2&gt;Behold my ' + data.total + ' messages&lt;/h2&gt;'
     + '&lt;p&gt;' + JSON.stringify(data.messages) + '&lt;/p&gt;');
  });
</pre>
            <div translate>FRONT_PAGE_INTEGRATION_2</div>
        </div>

        <div class="front-page-article col-sm-4">
            <div translate>FRONT_PAGE_MISC</div>
        </div>

    </div>

</div>
