
<div class="container-fluid" ng-controller="HomeCtrl" ng-init="init();">


    <div class="front-page-image">
        <img src="img/frontpage.jpg" width="100%" />

        <div class="front-page-teaser" translate>FRONT_PAGE_TEASER</div>
    </div>


    <div class="row">

        <div class="front-page-article col-sm-4">
            <div translate>FRONT_PAGE_ACTIVE_WARNINGS</div>
            <div class="front-page-msi">
                <div ng-repeat-start="msg in searchResult.messages" ng-if="msg.areaHeading">
                    <h4 class="front-page-msi-area-heading" msi-area="msg.areaHeading"></h4>
                </div>
                <div ng-repeat-end msi-message-details="msg.id" msi-messages="searchResult.messages" class="front-page-msi-item">
                    <div><strong msi-message-area="msg"/><strong> - {{msg.descs[0].title}}</strong></div>
                    <div>
                        <small>{{msg.validFrom | date : 'dd/MM/yy'}}</small>
                        <small ng-if="msg.validTo">&nbsp;-&nbsp; {{msg.validTo | date : 'dd/MM/yy'}}</small>
                    </div>
                    <div ng-bind-html="msg.descs[0].description"></div>
                </div>
            </div>
        </div>

        <div class="front-page-article col-sm-4">
            <div class="front-page-firing-exercises">
                <h2 translate>FRONT_PAGE_FIRING_TITLE</h2>
                <p translate>FRONT_PAGE_FIRING_DESC</p>

                <h4 translate>FRONT_PAGE_FIRING_TODAY</h4>
                <div ng-repeat="msg in firingExercisesToday" msi-message-details="msg.id" msi-messages="firingExercisesToday">
                    <strong>{{msg.area.descs[0].name}}:</strong> {{msg.timeInterval}}
                </div>

                <h4 translate>FRONT_PAGE_FIRING_TOMORROW</h4>
                <div ng-repeat="msg in firingExercisesTomorrow" msi-message-details="msg.id" msi-messages="firingExercisesTomorrow">
                    <strong>{{msg.area.descs[0].name}}:</strong> {{msg.timeInterval}}
                </div>

            </div>
        </div>

        <div class="front-page-article col-sm-4">
            <div translate>FRONT_PAGE_MISC</div>
        </div>

    </div>

</div>
