
<div class="container-fluid">


    <div class="front-page-image">
        <img src="img/frontpage.jpg" width="100%" />

        <div class="front-page-teaser">
            <h1>Welcome to MSI-NM</h1>
            <p>
                MSI-NM is an effort by the Danish Maritime Authority to combine MSI and MN P&T.
            </p>
        </div>
    </div>


    <div class="row">
        <div class="front-page-article col-sm-4">
            <h2>Aktuelle Advarsler</h2>
            <p>bla bla bla</p>
        </div>

        <div class="front-page-article col-sm-4">
            <h2>Developer API</h2>
            <p>bla bla bla</p>
        </div>

        <div class="front-page-article col-sm-4">
            <h2>Other sources</h2>
            <p>bla bla bla</p>
        </div>

    </div>

</div>


