<!DOCTYPE html>
<html data-framework="angularjs">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Maritime Message Information and Notices to Mariners</title>
    <link rel="icon" href="/img/favicon.ico" sizes="16x16 32x32 48x48 64x64" type="image/vnd.microsoft.icon">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/app.css">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="ext/select2-3.4.5/select2-bootstrap.css">

    <link rel="stylesheet" href="ext/bootstrap-datetimepicker-3.1.2/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="ext/bootstrap-datepicker/css/datepicker.css">
    <link rel="stylesheet" href="ext/json-diff/json-diff.css">

    <link rel="stylesheet" href="css/search.css">
    <link rel="stylesheet" href="css/site.css">

</head>
<body ng-app="msinm" ng-controller="SearchCtrl">

<div ng-include="'partials/notifications.html'"></div>
<div ng-include="'partials/menu.html'"></div>
<div ng-controller="MessageDetailsCtrl"></div>


<div class="container-fluid mouse-off"  style="overflow: visible;">


    <!-- Search result type menu bar -->
    <div class="row-fluid searchResultTypeBar visibleOnMap mouse-on">
        <div class="input-group col-xs-12 col-sm-8 col-md-6 col-lg-6 center">
            <span class="searchResultTypeBtn" ng-click="go('/search/grid')" check-active="/search/grid">
                <span class="glyphicon glyphicon-th"></span> <span class="searchResultTypeText">Grid</span>
            </span>
            <span class="searchResultTypeBtn" ng-click="go('/search/details')" check-active="/search/details">
                <span class="glyphicon glyphicon-th-list"></span> <span class="searchResultTypeText">Details</span>
            </span>
            <span class="searchResultTypeBtn" ng-click="go('/search/table')" check-active="/search/table">
                <span class="glyphicon glyphicon-align-justify"></span> <span class="searchResultTypeText">Table</span>
            </span>
            <span class="searchResultTypeBtn" ng-click="go('/search/map')" check-active="/search/map">
                <span class="glyphicon glyphicon-globe"></span> <span class="searchResultTypeText">Map</span>
            </span>
            <span class="searchResultTypeBtn" ng-if="hasRole('editor')" ng-click="go('/search/edit/editor/new')" check-active="/search/edit/*">
                <span class="glyphicon glyphicon-pencil"></span> <span class="searchResultTypeText">Edit</span>
            </span>
        </div>
    </div>

    <form ng-show="action == 'search'" class="search-form form-horizontal" style="padding-top: 20px;" role="form" novalidate>
        <div class="input-group col-xs-12 col-sm-8 col-md-6 col-lg-6 center mouse-on">


            <!-- Search field -->
            <div class="visibleOnMap" style="z-index: 300;">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-primary" ng-click="newSearch()">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu searchMenu" role="menu">
                            <li style="color: lightgray;">&nbsp;Filter by</li>
                            <li><a href ng-click="toggleFilterOnType()">Type</a></li>
                            <li><a href ng-click="toggleFilterOnLocation()">Location</a></li>
                            <li><a href ng-click="toggleFilterOnDate()">Date</a></li>
                            <li class="divider"></li>
                            <li style="color: lightgray;">&nbsp;Sort by</li>
                            <li><a href ng-click="toggleSortOrder('ID')">ID <small ng-bind-html="sortIndicator('ID')"></small></a></li>
                            <li><a href ng-click="toggleSortOrder('DATE')">Date <small ng-bind-html="sortIndicator('DATE')"></small></a></li>
                            <li class="divider"></li>
                            <li><a href ng-click="pdf()">Generate PDF</a></li>
                            <li><a href ng-click="calendar()">Add to calendar</a></li>
                        </ul>
                    </div>
                    <input id="query" type="text" class="form-control" placeholder="Search Terms" ng-model="query"
                           focus="focusMe"
                           data-content='Search using e.g. <code>+important</code>, <code>-excluded</code>, <code>par*ly</code> or <code>"exact match"</code>'
                           data-placement="bottom" data-html="true" data-trigger="hover">
                </div>
            </div>


            <!-- Type fields -->
            <div class="searchFilterPanel visibleOnMap" style="display: none" ng-show="filterOnType">
                <div class="row">
                    <div class="col-sm-12">
                        <input type="radio" value="PUBLISHED" id="messageStatus" ng-model="status">&nbsp;Published &nbsp;
                        <input type="radio" value="EXPIRED" ng-model="status">&nbsp;Expired&nbsp;
                        <input type="radio" value="CANCELLED" ng-model="status">&nbsp;Cancelled&nbsp;
                        <span ng-show="hasRole('admin')">
                            <input type="radio" value="DRAFT" ng-model="status">&nbsp;Draft&nbsp;
                            <input type="radio" value="DELETED" ng-model="status">&nbsp;Deleted&nbsp;
                        </span>
                        <span ng-show="hasRole('user')">
                            <input type="radio" value="BOOKMARKED" ng-model="status">&nbsp;Bookmarked
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
                        <select multiple class="form-control input-sm select2-multiple" id="messageType" ng-model="type">
                            <option></option>
                            <option value="NM">NM</option>
                            <option value="MSI">MSI</option>
                            <optgroup label="Specific NM:">
                                <option value="PERMANENT_NOTICE">Permanent NM</option>
                                <option value="TEMPORARY_NOTICE">Temporary NM</option>
                                <option value="PRELIMINARY_NOTICE">Preliminary NM</option>
                                <option value="MISCELLANEOUS_NOTICE">Miscellaneous NM</option>
                            </optgroup>
                            <optgroup label="Specific MSI:">
                                <option value="COSTAL_WARNING">Coastal Warning</option>
                                <option value="SUBAREA_WARNING">Subarea Warning</option>
                                <option value="NAVAREA_WARNING">Navarea Warning</option>
                            </optgroup>
                        </select>
                    </div>
                </div>

                <a ng-click="toggleFilterOnType()" class="closeSearchFilterPanel"><i class="glyphicon glyphicon-minus-sign red"></i></a>
            </div>


            <!-- Location field -->
            <div class="searchFilterPanel visibleOnMap" style="display: none" ng-show="filterOnLocation">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                        <input type="text" class="form-control input-sm" id="messageCharts" ng-model="charts" />
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                        <input type="text" class="form-control input-sm" id="messageArea" ng-model="areas" />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 btn-group" ng-if="!mapMode">
                        <button href class="btn btn-default btn-sm" ng-click="showLocationEditor()">
                            <span class="glyphicon glyphicon-map-marker"></span> locations
                        </button>
                        <button href class="btn btn-default btn-sm" ng-disabled="locations.length == 0" ng-click="resetLocation()">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                </div>

                <a ng-click="toggleFilterOnLocation()" class="closeSearchFilterPanel"><i class="glyphicon glyphicon-minus-sign red"></i></a>
            </div>


            <!-- Date fields -->
            <div class="searchFilterPanel visibleOnMap" style="display: none" ng-show="filterOnDate">
                <div class="row">
                    <div class="col-xs-6 col-sm-5 col-md-4 date" id="messageDateFrom" data-date="{{today}}" data-date-format="{{dateFormat}}">
                        <div class="input-group">
                            <input class="form-control input-sm" id="dateFrom" placeholder="From Date" type="text" ng-model="dateFrom">
                            <span class="input-group-addon add-on"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-5 col-md-4 date" id="messageDateTo" data-date="{{today}}" data-date-format="{{dateFormat}}">
                        <div class="input-group">
                            <input class="form-control input-sm" id="dateTo" placeholder="To Date" type="text" ng-model="dateTo">
                            <span class="input-group-addon add-on"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                </div>

                <a ng-click="toggleFilterOnDate()" class="closeSearchFilterPanel"><i class="glyphicon glyphicon-minus-sign red"></i></a>
            </div>


        </div>


        <!-- Pagination -->
        <div class="row searchResultPagination visibleOnMap" ng-show="paginationVisible">
        <span class="mouse-on">
            <pagination total-items="searchResult.total" items-per-page="pageSize" max-size="8"
                        ng-model="currentPage" ng-change="pageChanged()"
                        class="pagination pagination-sm"
                        previous-text="&lsaquo;"  next-text="&rsaquo;"
                        boundary-links="true" first-text="&laquo;" last-text="&raquo;">
            </pagination>
        </span>
        </div>
    </form>

</div>

<div ng-view></div>



<!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script-->
<script src="ext/jquery-1.11.0/jquery-1.11.0.js" type="text/javascript"></script>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="ext/tinymce-4.1.2/tinymce.min.js"></script>

<!--script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.6/angular.min.js"></script-->
<script src="ext/angularjs-1.2.10/angular.js" type="text/javascript"></script>
<script src="ext/angularjs-1.2.10/angular-route.js" type="text/javascript"></script>
<script src="ext/angularjs-1.2.10/angular-sanitize.js" type="text/javascript"></script>
<script src="ext/angularjs-1.2.10/cookies.js" type="text/javascript"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>

<script src="ext/select2-3.4.5/select2.js" type="text/javascript"></script>
<script src="ext/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
<script src="ext/moment-2.8.2/moment.min.js" type="text/javascript"></script>
<script src="ext/bootstrap-datetimepicker-3.1.2/bootstrap-datetimepicker.js" type="text/javascript"></script>

<script src="ext/angular-file-upload-1.0.3/angular-file-upload.js"></script>
<script src="ext/angular-translate-2.2.0/angular-translate.min.js" type="text/javascript"></script>
<script src="ext/angular-growl-notifications-0.7.0/growl-notifications.min.js" type="text/javascript"></script>
<script src="ext/angular-ui-tinymce-0.0.5/tinymce.js" type="text/javascript"></script>

<script src="ext/json-diff/jsond.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/openlayers/2.13.1/OpenLayers.js"></script>
<script src="//maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>

<script src="js/search-app.js" type="text/javascript"></script>
<script src="js/conf/site-config.js" type="text/javascript"></script>
<script src="js/conf/site-texts.js" type="text/javascript"></script>
<script src="js/conf/base-layers.js" type="text/javascript"></script>
<script src="js/common/util.js" type="text/javascript"></script>
<script src="js/common/common-directives.js" type="text/javascript"></script>
<script src="js/common/common-ctrl.js" type="text/javascript"></script>
<script src="js/common/common-service.js" type="text/javascript"></script>
<script src="js/common/common-filters.js" type="text/javascript"></script>
<script src="js/search/search-ctrl.js" type="text/javascript"></script>
<script src="js/search/message-ctrl.js" type="text/javascript"></script>
<script src="js/search/message-service.js" type="text/javascript"></script>
<script src="js/search/message-directives.js" type="text/javascript"></script>
<script src="js/map/map-service.js" type="text/javascript"></script>
<script src="js/map/location-editor-directive.js" type="text/javascript"></script>
<script src="js/map/search-result-map-directive.js" type="text/javascript"></script>
<script src="js/map/message-details-map.js" type="text/javascript"></script>
<script src="js/map/position.js" type="text/javascript"></script>
<script src="js/user/user-ctrl.js" type="text/javascript"></script>
<script src="js/user/user-service.js" type="text/javascript"></script>

<script>

    $(document).ready(function() {
        $("#messageType").select2({
            placeholder: "Select Type",
            allowClear: true
        });

        var dateFrom = $("#messageDateFrom")
                .datepicker()
                .on('changeDate', function() { dateFrom.hide(); })
                .data('datepicker');
        var dateTo = $("#messageDateTo")
                .datepicker()
                .on('changeDate', function() { dateTo.hide(); })
                .data('datepicker');
        $('#query').popover();
    });

    // Init the area selection field
    initAreaField("#messageArea", true);
    initChartField("#messageCharts", true);

</script>

<!-- Calendar dialog -->
<script type="text/ng-template" id="addToCalendar.html">
    <p>
        You can subscribe to the active MSI + NM messages.
        Use the URL below:
    </p>
    <div class="form-controls">
        <input type="text" class="form-control input-sm" readonly
               ng-model="modalOptions.calUrl"
               autocapitalize="off" autocorrect="off" autocomplete="off" />
    </div>
</script>

<!-- Location editor -->
<script type="text/ng-template" id="locationSelector.html">
    <div ng-init="init()" style="margin: -20px;">
        <div class="modal-body" style="padding-bottom: 0">

            <div class="location-editor">
                <div msi-location-editor locations="locations" edit-descs="false" show-location-panel="false" visible="visible" style="width:100%; height: 100%">
                    <div class="location-editor-panel">
                        <div style="text-align: center;">
                            <p>Select locations</p>
                            <button href class="btn btn-primary btn-xs" ng-click="$dismiss('done')">Done</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>


</body>
</html>