
<div class="container-fluid" ng-controller="MessageManagerCtrl" id="message-manager">

    <div class="row manager-page">
        <h1 class="page-header">Manage Message {{msg.seriesIdentifier.fullId}}</h1>

        <div class="row manager-main">

            <div class="col-sm-12 col-md-9 col-lg-8" ng-if="!showHistory">
                <table class='table table-condensed'>
                    <tr msi-render-message-details msg="msg" messages="messages" show-details-menu="false" ></tr>
                </table>
            </div>

            <div class="col-sm-12 col-md-9 col-lg-8" ng-if="showHistory">
                <table class='table table-condensed table-hover'>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Version</th>
                        <th>Date</th>
                        <th>User</th>
                        <th>Status</th>
                    </tr>
                    <tr ng-repeat="hist in messageHistory" >
                        <td><input type="checkbox" ng-model="hist.selected" ng-click="toggleSelectHist(hist)"></td>
                        <td>{{hist.version}}</td>
                        <td>{{hist.created | date : 'dd/MM/yy HH:mm:ss'}}</td>
                        <td>{{hist.user == null ? 'System' : hist.user}}</td>
                        <td>{{hist.status}}</td>
                    </tr>
                </table>

                <div ng-if="selectedHistory.length > 0">
                    <div ng-if="selectedHistory.length == 1">
                        <h4>Showing message version {{selectedHistory[0].version}}</h4>
                    </div>
                    <div ng-if="selectedHistory.length == 2">
                        <h4>Message changes from version {{selectedHistory[0].version}} to {{selectedHistory[1].version}}</h4>
                        <p>Color-codes are used for <span style="background-color: #fcff7f">changes</span>,
                            <span style="background-color: #8bff7f">additions</span>
                           and <span style="background-color: #fd7f7f">deletions</span>.</p>
                    </div>
                    <div class="message-history-json json-diff" msi-json-diff history="selectedHistory"></div>
                </div>
                <div ng-if="selectedHistory.length == 0">
                    <ul>
                        <li>Check a history entry to see the associated message data.</li>
                        <li>Check two history entries to compare the changes.</li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-12 col-md-3 col-lg-4">
                <div class="panel panel-default action-panel">
                    <p>
                        Status:
                        <strong>{{msg.status}}</strong>
                    </p>

                    <div style="margin-top: 20px;">
                        <button href class="btn btn-primary btn-sm manager-action" ng-click="publish()" ng-if="msg.status == 'DRAFT'">
                            <span class="glyphicon glyphicon-send"></span> Publish Message...
                        </button>
                    </div>
                    <div>
                        <button href class="btn btn-default btn-sm manager-action" ng-click="delete()" ng-if="msg.status == 'DRAFT'">
                            <span class="glyphicon glyphicon-trash"></span> Delete Draft...
                        </button>
                    </div>
                    <div>
                        <button href class="btn btn-default btn-sm manager-action" ng-click="cancel()" ng-if="msg.status == 'PUBLISHED'">
                            <span class="glyphicon glyphicon-trash"></span> Cancel Message...
                        </button>
                    </div>
                    <div>
                        <button href class="btn btn-default btn-sm manager-action" ng-click="edit()" ng-if="msg.status == 'DRAFT' || hasRole('sysadmin')">
                            <span class="glyphicon glyphicon-pencil"></span> Edit Message...
                        </button>
                    </div>
                    <div>
                        <button href class="btn btn-default btn-sm manager-action" ng-click="copy()">
                            <span class="glyphicon glyphicon-plus"></span> Copy Message...
                        </button>
                    </div>
                    <div>
                        <button href class="btn btn-default btn-sm manager-action" ng-click="loadHistory()" ng-model="showHistory"
                                btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
                            <span class="glyphicon glyphicon-calendar"></span> Show History
                        </button>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>


<!-- Cancel Message dialog -->
<script type="text/ng-template" id="cancelMessage.html">

    <form name="copy_form">
        <p>Please confirm cancellation</p>
        <div class="checkbox col-sm-6">
            <label><input type="checkbox" ng-model="modalOptions.cancelOptions.createCancelMessage"> Create cancellation message</label>
        </div>
    </form>

</script>

<!-- Publish Message Error dialog -->
<script type="text/ng-template" id="publishMessageError.html">

    <form name="copy_form">
        <p>Message cannot be published</p>
        <div ng-bind-html="modalOptions.error"></div>
    </form>

</script>
